.grid-container {
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
  gap: 20px; /* Separación amplia entre tarjetas */
  padding: 10px 0;
}