.header {
  padding: 12px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1f22; /* Mismo color que el Sidebar */
  color: white;
  border-bottom: 1px solid #2b2c31; /* Divisor muy sutil */
}

.search-bar {
  background-color: #2b2c31;
  border-radius: 8px;
  padding: 6px 16px;
  
  width: 100%;
  max-width: 500px; 
  
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #3f4045;
}

.search-bar input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
  color: #ffffff;
}

.search-bar input::placeholder {
  color: #a3a3a3;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0; 
}

.user-profile {
  display: none; 
}

