html, body {
  height: 100%;
  margin: 0;
}

.todo {
  height: 100vh;
  width: 100%;
  background-image: url('fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* centra el div hijo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  min-width: 300px;
  max-width: 400px;
  width: 90%;
}